<!-- informasi guru yang diinputkan oleh guru pada saat daftar menjadi guru -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Edit Profile</title>
</head>
<body>
    <div class="header">
        <a href="homepageGuru.html" class="logo" id="logo">Belajar Online</a>
        <div class="header-right">
            <a href="listkelasGuru.html" id="home">List Kelas</a>
            <a href="bukaKelas.html" id="course">Membuka Kelas</a>
            <a href="laporan.html" id="course">Laporan</a>
            <div class="dropdown">
                <button class="dropbtn">  User
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="">Profile</a>
                    <a href="login.html">Log Out</a>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="card">
            <img src="images/avatar.jpg" alt="Avatar">
            <h2>John Doe</h2>
            <p>johndoe@gmail.com</p>
            <p>johndoe</p>
            <p>Matematika</p>
            <p>250.000</p>
            <p><button class="profilebtn" id="profilebtn">Edit Profile</button></p>
          </div>
    </div>


    
</body>
</html>