<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Home page</title>
</head>
<body>
    <div class="header">
        <a href="/" class="logo" id="logo">Belajar Online</a>
        <div class="header-right">
            <a href="login" id="login">Login</a>
            <a href="signup" id="signup">Sign Up</a>
        </div>
    </div>

    
    <div class="wel">
        <h1>Selamat Datang <br> di Belajar Online</h1>
        <img src="/images/ecourse.jpg" alt="kids-learning">
        <p>The #1 platform to create and sell courses online</p>
        
    </div>

    
</body>
</html>