<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Home Siswa</title>
</head>
<body>
    <div class="header">
        <a href="" class="logo" id="logo">Belajar Online</a>
        <div class="header-right">
            <a href="homepageMurid.html" id="home">Home</a>
            <a href="listkelasMurid.html" id="course">My Class</a>
            <div class="dropdown">
                <button class="dropbtn"> User 
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="">Profile</a>
                    <a href="">Log Out</a>
                </div>
            </div>
        </div>
    </div>

    
    <div class="wel">
        <h1>Selamat Datang <br> di Belajar Online</h1>
        <img src="../images/ecourse.jpg" alt="kids-learning">
        <p>The #1 platform to create and sell courses online</p>
        
    </div>

    <div class="buttonK">
        <button class="buttonKelas"><a href="Daftarkelas.html">Lihat Pilihan Kelas</a></button>
    </div>
    
</body>
</html>