<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/kelas.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Daftar Kelas</title>
</head>
<body>
    <div class="header">
        <a href="Daftarkelas.html" class="logo" id="logo">Belajar Online</a>
        <div class="header-right">
            <a href="homepageMurid.html" id="home">Home</a>
            <a href="listkelasMurid.html" id="course">My Class</a>
            <div class="dropdown">
                <button class="dropbtn"> John Doe 
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="">Profile</a>
                    <a href="">Log Out</a>
                </div>
            </div>
        </div>
    </div>


    <div class="content">
        <article class="ecourse-all">
            <h3>Courses</h3>
        </article>
    </div>

    <div class="tab">
        <table>
            <tr>
              <th>Course</th>
              <th>Nama</th>
              <th>Waktu</th>
              <th>Tarif</th>
              <th>Status</th>
              <th>Join</th>
            </tr>
            <tr>
              <td>CR001</td>
              <td>Ana</td>
              <td>10.00</td>
              <td>25000</td>
              <td>TERSEDIA</td>
              <td><button type="submit" name="" id="btn">join</button></td>
            </tr>
            <tr>
                <td>CR002</td>
                <td>Bubu</td>
                <td>10.30</td>
                <td>50000</td>
                <td>TERSEDIA</td>
                <td><button type="submit" name="" id="btn">join</button></td>
            </tr>
            <tr>
                <td>CR010</td>
                <td>Kina</td>
                <td>16.25</td>
                <td>25000</td>
                <td>TERSEDIA</td>
                <td><button type="submit" name="" id="btn">Join</button></td>
            </tr>
          </table>
    </div>
    
    
</body>
</html>